/* ===========================
   GOOGLE FONTS
=========================== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600;700;800&display=swap");

/* ===========================
   CSS RESET
=========================== */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    font-family: "Inter", sans-serif;
    background:
        radial-gradient(circle at top right,
            rgb(26, 34, 82),
            transparent 45%),

        radial-gradient(circle at bottom left,
            rgb(29, 17, 63),
            transparent 15%),

        #050816;
    color: #ffffff;
    overflow-x: hidden;
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

button,
input,
textarea {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ===========================
   THEME VARIABLES
=========================== */

:root {
    --background: #23307c;
    --surface: #0c134b;
    --surface-hover: #192257;

    --primary: #aa195f;
    --primary-hover: #AE76A6;

    --accent: #ff057a;

    --text: #ffffff;
    --text-secondary: #E9ECF5;

    --border: rgba(48, 15, 15, 0.08);

    --container-width: 1200px;

    --radius: 18px;

    --shadow:
        0 15px 40px rgba(0, 0, 0, .25);

    --transition: .25s ease;
}

/* ===========================
   TYPOGRAPHY
=========================== */

h1,
h2,
h3,
h4 {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: clamp(3rem, 6vw, 5.5rem);
    line-height: 1.05;
}

h2 {
    font-size: clamp(2.3rem, 5vw, 4rem);
}

h3 {
    font-size: clamp(1.3rem, 2vw, 1.6rem);
}

p {
    font-size: clamp(1rem, 1vw, 1.1rem);
    line-height: 1.8;
    color: var(--text-secondary);
}

/* ===========================
   UTILITIES
=========================== */

.text-center {
    text-align: center;
}

.gradient-text {
    background: linear-gradient(90deg,
            var(--primary),
            var(--accent));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-padding {
    padding: 7rem 0;
}